<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnagramWPF.Anagram2Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnagramWPF.Anagram2Settings>
            <setting name="LetterPoolMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LetterPoolCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TrackUsedWords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BonusTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BonusWords" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TimerMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondsPerLetter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PlayTickSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TickSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AwardBonusTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StaticTimeValue" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BestPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorstPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AveragePercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GamesPlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GamesWon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalPossibleWords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalFoundWords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatsDate" serializeAs="String">
                <value>2012-11-01</value>
            </setting>
            <setting name="TotalFoundGameWord" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MostFoundWords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PoiintsPerGame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseClassNameDictionary" serializeAs="String">
                <value>False</value>
            </setting>
        </AnagramWPF.Anagram2Settings>
    </userSettings>
</configuration>